<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>
        <section th:fragment="tabs" class="py-3 mb-4">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a th:href="@{/}"
                               class="nav-link active"
                               aria-current="page">
                                [[#{consultas.todas}]]
                            </a>
                        </li>
                        <li th:each="c : ${categorias}" class="nav-item">
                            <a th:href="@{/consultas/{id}(id=${c.idCategoria})}"
                               class="nav-link">
                                [[${c.descripcion}]]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section th:fragment="tarjetas" class="container pb-4">
            <div class="row g-3 justify-content-center">

                <div th:each="p : ${productos}" class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100">

                        <div class="d-flex justify-content-center align-items-center bg-white p-3" style="height: 170px;">
                            <img th:src="${p.rutaImagen}"
                                 class="img-fluid"
                                 th:alt="${p.descripcion}"
                                 style="max-height: 140px; max-width: 100%;"/>
                        </div>

                        <div class="card-header">
                            <h5 th:text="${p.descripcion}">Producto</h5>
                        </div>

                        <div class="card-body">
                            <p class="card-text text-truncate" th:text="${p.detalle}">Detalle</p>
                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div>
                                <span class="precio-producto"
                                      th:text="${#numbers.formatCurrency(p.precio)}">₡0</span>

                                <span th:if="${p.existencias > 0}"
                                      class="badge bg-success badge-stock ms-2"
                                      th:text="${p.existencias} + ' unidades'"></span>

                                <span th:unless="${p.existencias > 0}"
                                      class="badge bg-danger badge-stock ms-2">
                                    Agotado
                                </span>
                            </div>

                            <form th:action="@{/carrito/agregar}" th:method="POST" class="m-0">
                                <input type="hidden" th:value="${p.idProducto}" name="idProducto"/>
                                <button type="submit"
                                        class="btn btn-primary btn-sm btn-cart"
                                        th:disabled="${p.existencias == 0}">
                                    <i class="fas fa-cart-plus"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section th:fragment='consultas' class='row row-cols-4 p-2'>
            <div th:replace="~{consultas/fragmentos :: formConsulta('primary',#{consultas.derivadas},'/consultas/consultaDerivada')}"></div>
            <div th:replace="~{consultas/fragmentos :: formConsulta('warning',#{consultas.jpql},'/consultas/consultaJPQL')}"></div>
            <div th:replace="~{consultas/fragmentos :: formConsulta('success',#{consultas.sql},'/consultas/consultaSQL')}"></div>
            <div class='card'><p>Acá va su Práctica #2</p></div>
        </section>

        <div th:fragment='formConsulta(colorForm, textoForm, urlForm)'>
            <form method="post" th:action='@{${urlForm}}' class='was-validated'>
                <div class='card p-2'>
                    <div class="card-header text-center text-white" th:classappend="${'bg-'+colorForm}">
                        <h5>[[${textoForm}]]</h5>
                    </div>
                    <div class="card-body">
                        <div class='mb-3'>
                            <label>[[#{consultas.precio.inferior}]]</label>
                            <input type="number" name='precioInf' th:value='${precioInf}'
                                   class='form-control' min="0" required/>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{consultas.precio.superior}]]</label>
                            <input type="number" name='precioSup' th:value='${precioSup}'
                                   class='form-control' min="0" required/>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type='submit' class='btn text-white' th:classappend="${'btn-'+colorForm}">
                            <i class='fa-solid fa-magnifying-glass'></i> [[${textoForm}]]
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>